/*Reset*/
* {margin: 0; padding: 0;}
ol, ul {list-style: none;}
a {outline: 0; text-decoration: none; color: #bbb;}
img {border: 0;}
body {position: fixed; width: 100%; height: 100%; /*background: #000;*/ color: #eee; font-family: Digital; letter-spacing: 5px; text-shadow: 0 0 10px rgb(196, 1, 242),
             		 0 0 20px rgba(46, 95, 206, 0.3),
                     0 0 30px rgba(46, 95, 206, 1),
                     0 0 40px rgba(46, 95, 206, 0.8),
                     0 0 60px rgba(46, 95, 206, 0.5),
                     0 0 100px rgba(46, 95, 206, 0.3);}

@font-face {
    font-family:"Digital";
    src: url("Digital.ttf")
}

article {
    height: 100%; display: block; width: 900px; margin: 0 auto; text-align: center;
}

/*div {
    font-size: 20em;
    display: inline-block;
    margin: 5%;
}*/

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

svg {
    background: black;
}